
body {
  
  background-image: url("back.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 750px;
  height: 430px;
  background-image: url("back3.jpg");
  background-size: cover;
  z-index: 2;
  border-radius: 8px;
  overflow: hidden;
  webkit-animation: 25s linear 0s normal none infinite animate;
  -moz-animation: 25s linear 0s normal none infinite animate;
  -ms-animation: 25s linear 0s normal none infinite animate;
  -o-animation: 25s linear 0s normal none infinite animate;
  animation: 25s linear 0s normal none infinite animate;
}

@-webkit-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 300px 0;
  }
}

@-moz-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 300px 0;
  }
}

@-ms-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 300px 0;
  }
}

@-o-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 300px 0;
  }
}

@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 300px 0;
  }
}

.container:after {
  content: "";
  width: 380px;
  height: 380px;
  position: absolute;
  top: 27px;
  left: -180px;
}

.container:before {
  content: "";
  width: 170px;
  height: 170px;
  background-size: cover;
  font-family: sans-serif;
  position: absolute;
  bottom: -20px;
  right: -25px;
  margin: auto;
}

.name-page {
  width: 400px;
  height: 250px;
  position: absolute;
  top: -50px;
  bottom: 0;
  left: 200px;
  margin: auto;
  z-index: 0;
}

h2 {
  font-family: sans-serif;
  font-size: 50px;
  font-weight: 650;
  text-transform: uppercase;
  letter-spacing: -2px;
  color: #ffff;
  white-space: pre;
  margin: 70px -10px;
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}

span {
  position: absolute;
  letter-spacing: -1px;
  font-size: 18px;
  margin: 0px 30px;
}

.vision {
  position: absolute;
  bottom: 105px;
  left: 28%;
  right: 0;
  margin: auto;
  width: 160px;
  height: 50px;
}

button {
  font-family: sans-serif;
  width: 150px;
  height: 40px;
  background-color:  black;
  border: 1px solid #ffff;
  color: #ffff;
  font-size: 16px;
  font-weight: 150;
  text-transform: uppercase;
  outline: 2px;
  border-radius: 30px;
}

.audio {
  position: absolute;
  bottom: 105px;
  left: -25%;
  right: 0;
  margin: auto;
  width: 160px;
  height: 50px;
}

button {
  font-family: sans-serif;
  width: 150px;
  height: 40px;
  background-color:  black;
  border: 1px solid #ffff;
  color: #ffff;
  font-size: 16px;
  font-weight: 150;
  text-transform: uppercase;
  outline: 2px;
  border-radius: 30px;
}

button:hover{
  cursor: pointer;
  -webkit-animation: hover-scale .7s;
            animation: hover-scale .7s;
}

@keyframes hover-scale {
    30% {
        transform: scale(0.8)
    }
    60% {
        transform: scale(1.2)
    }
    100% {
        transform: scale(1)
    }
}

@-webkit-keyframes hover-scale {
    30% {
        transform: scale(0.8)
    }
    60% {
        transform: scale(1.2)
    }
    100% {
        transform: scale(1)
    }
}
